/* Colors

   Правила написания цветов:
   '$c-text-gray-light-main'
   $c - префикс для цвета
   text - предназначение цвета
   gray - цвет
   light - оттенок цвета
   main - дополнительная информация
 */


/* Текст: Светло-серый основной */
:root {
    --c-text-gray-light-main: #E0E0E0;

    /* Текст: Чёрный */
    --c-text-black: #111111;

    /* Текст: Серый описание */
    --c-gray-description: #878787;

    /* Бэграунд: Светлый */
    --c-bg-light: #F0F0F0;

    /* Бэграунд: Тёмный */
    --c-bg-dark: #0F0F0F;

    /* Линии: Серый */
    --c-line-gray: #272727;

    /* Заголовок: Синий */
    --c-head-blue: #0057FF;

    /* Текст: Тёмно-серый */
    --c-text-dark-gray: #575757;

    /* Текст: Тёмно-серый футер */
    --c-footer-dark-gray: #3C3C3C;
}