/*  Font

    Подключение шрифтов.
    Отдельно подключаем кириллицу и латиницу.
    ВАЖНО! Не перепутать unicode-ranges
*/

@font-face {
    font-family: 'Inter';
    src: url("../../fonts/Inter/Inter-Regular-Cyrillic.woff2") format('woff2'),
         url("../../fonts/Inter/Inter-Regular-Cyrillic.woff2") format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0400-04ff;
}

@font-face {
    font-family: 'Inter';
    src: url("../../fonts/Inter/Inter-Regular-Latin.woff2") format('woff2'),
         url("../../fonts/Inter/Inter-Regular-Latin.woff2") format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0000-007F;
}